.list {

    h2 {
        font-size: 1.2rem;
        padding: 0;
        margin: 10px 0;
    }

    p {
        font-weight: 300;
    }

    .listGrid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 3fr repeat(2, 1fr);
    }

    .gridTitles p {
        font-weight: 500;
    }
}

